RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d



RewriteRule ^index(.*)$ index.php [L]

RewriteRule ^home(.*)$ index.php?pagina=home [L]
RewriteRule ^tarefas(.*)$ index.php?pagina=tarefas [L]


RewriteRule ^novo_pedido(.*)$ index.php?pagina=novo_pedido [L]